<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link href="/images/favicon.ico" rel="shortcut icon" type="image/png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
	<link href="/stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
	<link href="/stylesheets/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="wrapper">
		<div class="sidebar" data-color="blue">
			<div class="sidebar-wrapper">


				<div class="logo">
					<a target="_blank" href="http://www.safe-lanes.com" class="simple-text">
						<img src="/images/SafeLanes_logo.png" class="imgclass" />
					</a>
				</div>
				<ul class="nav">
					<li>
						<a href="/dashboard">
							<p>Dashboard</p>
						</a>
					</li>
					
					<li class="active">
						<a href="/employees">
							<p>Employee Master</p>
						</a>
					</li>
					
					<li>
						<a href="/vdranalysiss">
							<p>VDR Job Tracker</p>
						</a>
					</li>
					<li>
						<a href="/jobassignments">
							<p>Vessel Job Tracker</p>
						</a>
					</li>
					<li>
						<a href="/clients">
							<p>Client Details</p>
						</a>
					</li>
					<li>
						<a href="/observationanalysis">
							<p>Observation Analysis</p>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="main-panel">
			<nav class="navbar navbar-default navbar-fixed">
				<div class="container-fluid">
					<div align="right">
						<a href="">Account</a>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						<a href="#">Log out</a>
					</div>
				</div>
			</nav>


			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="header">
								<h5><a href="/employees">Employee List</a></h5>
								<h5>Create Employee</h5> 
							</div>
							<div class="content">
								<form id="createemp" method="post" action="/employees/save" enctype="multipart/form-data">
									<div class="row">
										<div class="col-md-4">
											<div class= "form-group has-feedback">
												<label for="firstname">First Name*</label>
												<input type="text" class="form-control" placeholder="First Name" name="firstname" required>
											</div>
										</div>
										<div class="col-md-4">
											<div class= "form-group">
												<label for="lastname">Last Name</label>
												<input type="text" class="form-control" placeholder="Last Name" name="lastname">
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-md-4">
											<div class="form-group">
												<label>Gender</label>

												<input type="checkbox" id="GC1"
												name="gender" value="female" onclick="selectgender(this)" />
												<label>Female</label>

												<input type="checkbox" id="GC2"
												name="gender" value="male" onclick="selectgender(this)" />
												<label>Male</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label for="address">Address</label>
												<input type="text" class="form-control" placeholder="Address" name="address">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label for="office">Office Address</label>
												<input type="text" class="form-control" placeholder="Office Address" name="office">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label for="country">Country *</label>
												<select class="form-control" name="country" id="country">
													<option value=''>Select Country</li>
														<% for(var i=0; i < country.length; i++){ %>
														<option value='<%= country[i] %>'><%= country[i] %></li>
															<% } %>
														</select>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="city">City *</label>
														<select class="form-control" name="city" id="city">

														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label for="dateofbirth">DoB </label>
														<input type="date" class="form-control" name="dateofbirth" placeholder="Date of Birth">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="passportno">Passport No. *</label>
														<input type="text" class="form-control" name="passportno" placeholder="Passport Number">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label for="dateofjoin">Date of Joining</label>
														<input type="date" class="form-control" name="dateofjoin" placeholder="Date of Joining">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="nationality">Nationality</label>
														<select class="form-control" name="nationality" id="nationality">
															<option value=''>Select Nationality</li>
																<% for(var i=0; i < nationality.objNat.length; i++){ %>
																<option value='<%= nationality.objNat[i] %>'><%= nationality.objNat[i] %></li>
																	<% } %>
																</select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<label>Marital Status </label>
																<div><input type="checkbox"
																	name="maritalstatus" value="Married" onclick="selectmaritalstatus(this)" />
																	<label>Married</label>
																	<input type="checkbox"
																	name="maritalstatus" value="Unmarried" onclick="selectmaritalstatus(this)" />
																	<label>Unmarried</label>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label for="permitstatus">Permit Status *</label>
																<input type="text" class="form-control" name="permitstatus" placeholder="Enter Permit Type">
															</div>
														</div>
													</div>

													<div class="row">
														<div class="col-md-8">
															<div class="form-group">
																<label for="comment">Comments</label>
																<textarea class="form-control" name="comment" rows:"5" placeholder="Enter Description"></textarea>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<label for="photo">Upload Photo of Employee</label>
																<input type="file" class="form-control-file" name="photo" id="photo" accept=".jpg,.jpeg,.png" onchange="validateFileType(this)"/>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group">
																<label for="fathername">Father Name</label>
																<input type="text" class="form-control" name="fathername">
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label for="mothername">Mother Name</label>
																<input type="text" class="form-control" name="mothername">
															</div>
														</div>
													</div>

													<button type="submit" class="btn btn-primary btn-fill pull-right">Submit</button>
													<div class="clearfix"></div>
												</form>
											</div>

										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</body>
				</html>

				<script type="text/javascript">

					function selectgender(id){
						var chkgender = document.getElementsByName("gender");
						Array.prototype.forEach.call(chkgender,function(el){
							el.checked = false;
						});
						id.checked = true;
					}
					function selectmaritalstatus(id){
						var chkmaritalstatus = document.getElementsByName("maritalstatus");
						Array.prototype.forEach.call(chkmaritalstatus,function(el){
							el.checked = false;
						});
						id.checked = true;
					}

					function validateFileType(){

						var fileName = document.getElementById("photo").value;
						var idxDot = fileName.lastIndexOf(".") + 1;
						var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
						if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
			//TO DO
		}else{
			alert("Only jpg/jpeg and png file formats are accepted!");
		}   
	}
	
	var uploadField = document.getElementById("photo");

	uploadField.onchange = function() {
		if(this.files[0].size > 2097152){
			alert("File exceeds specefied size limit! (Max. 2.09 MB");
			this.value = "";
		};
	};

	$(document).ready(function() {
		$country = $('#country');
		$city = $('#city');

		$country.change(function() {

	$city.html(''); // Clear existing options in city dropdown
	

	var country_name = document.getElementById("country").value;
	if(country_name != ''){

		$.ajax({
			method: "GET",
			url: "/employees/returncity",
			data: { country_name: country_name },
			dataType: "json",
		}).done(function( data ) {
			var result = data;
			
			$.each(result, function (data) {
				var appenddata = "<option value = '" + result[data] + " '>" + result[data] + " </option>";
				$('#city').html($('#city').html() + appenddata);
			});
			sortSelect(document.getElementById("city"), 'text', 'asc'); 
		});
	}
	else
	{
		$('#city').append($('<option>', {
			value: '',
			text: 'Select City'
		}));

	}


}).change();

		$('#createemp').bootstrapValidator({
			container: '#messages',
			feedbackIcons: {
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				firstname: {
					validators: {
						notEmpty: {
							message: ''
						}
					}
				},
				passportno: {
					validators: {
						notEmpty: {
							message: ''
						}
					}
				},
				country: {
					validators: {
						notEmpty: {
							message: ''
						}
					}
				},
				city: {
					validators: {
						notEmpty: {
							message: ''
						}
					}
				},
				permitstatus: {
					validators: {
						notEmpty: {
							message: ''
						}
					}
				}
			}
		});
	});

</script>