.navbar-default {
    background-color: #D3D3D3;
    border-color: #e7e7e7;

}
a {
    color: #3920ce;
    text-decoration: none;
}
body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #1b1d1a;
    background-color: #D3D3D3;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.h5, h5 {
    font-size: 16px;
}
body.modal-open {
  overflow: auto;
}
.modal.in {
  pointer-events: none;
}
.modal-content {
  pointer-events:all;
}
.modal-backdrop {
  display: none;
}

/* 
 * you don't need the CSS below, it's only for SO,
 */

.text-center > .btn-primary {
 display: inline-block;
 margin: 7rem auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {background-color: #f2f2f2;}

.form-control-phncode {
    display: block;
    width: 20%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.imgclass{
	height:auto;
	width:100%;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f1f1f1;
    opacity: 1;
}
.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 15px;
    text-transform: capitalize;
    color: #9A9A9A;
    font-weight: 400;
    padding-bottom: 5px;
}
table.dataTable thead th, table.dataTable tfoot th {
    border-bottom-width: 1px;
    font-size: 15px;
    text-transform: capitalize;
    color: #9A9A9A;
    font-weight: 400;
    padding-bottom: 5px;
}

.nav nav-mobile-menu{
    display: none;
}
marquee {  
font-size: 20px;  
color: #3647FB;  
} 

